@model eCommerce.Web.Areas.Dashboard.ViewModels.CategoryActionViewModel
@{
    if (Model != null)
    {
        if (Model.CategoryID > 0)
        {
            Model.PageTitle = "Dashboard.Categories.EditCategoryTitle".LocalizedString();
            Model.PageDescription = "Dashboard.Categories.EditCategoryDescription".LocalizedString();
            Model.PageURL = Url.EditAction("Categories", Model.CategoryID);
        }
        else
        {
            Model.PageTitle = "Dashboard.Categories.CreateCategoryTitle".LocalizedString();
            Model.PageDescription = "Dashboard.Categories.CreateCategoryDescription".LocalizedString();
            Model.PageURL = Url.CreateAction("Categories");
        }

        Model.PageImageURL = PictureHelper.PageImageURL("marca.jpg");
    }
}

<div class="page-info-container">
    <h3 class="h3 mb-2 text-gray-800">
        @Model.PageTitle
    </h3>
    <p>
        @Model.PageDescription
    </p>
    <hr />
</div>

<div class="page-data-holder mb-4">
    <form id="actionForm" method="post">
        <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
        <input type="hidden" name="CategoryRecordID" value="@Model.CategoryRecordID" />
        <input type="hidden" name="LanguageID" value="@AppDataHelper.CurrentLanguage.ID" />

        <div class="card mt-3">
            @if (ConfigurationsHelper.EnableMultilingual)
            {
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        @foreach (var language in LanguagesHelper.EnabledLanguages)
                        {
                            var isActive = language.ShortCode == AppDataHelper.CurrentLanguage.ShortCode;

                            <li class="nav-item">
                                <a class="nav-link @(isActive ? "active" : string.Empty)" href="@(isActive ? "#" : Url.LanguageBasedURL(language.ShortCode))">
                                    @language.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="card-body">
                <div class="form-group">
                    <label>
                        @("Dashboard.Categories.Action.Name".Localized())
                    </label>
                    <input class="form-control" name="Name" value="@Model.Name" placeholder="@("Dashboard.Categories.Action.NamePlaceholder".Localized())" />
                </div>

                <div class="form-group">
                    <label>
                        @("Dashboard.Categories.Action.Summary".Localized())
                    </label>
                    <textarea class="form-control" name="Summary" placeholder="@("Dashboard.Categories.Action.SummaryPlaceholder".Localized())" rows="2">@Model.Summary</textarea>
                </div>

                <div class="form-group mb-0">
                    <label>
                        @("Dashboard.Categories.Action.Description".Localized())
                    </label>
                    <textarea class="form-control" name="Description" placeholder="@("Dashboard.Categories.Action.DescriptionPlaceholder".Localized())" rows="6">@Model.Description</textarea>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="form-group">
                    <label>
                       @("Dashboard.Categories.Action.Catalogo".Localized())
                    </label>
                    <select class="form-control" name="CatalogoID" id="CatalogoID">
                        <option value="0">@("Dashboard.Categories.Action.CatalogoNone".Localized())</option>
                        @foreach (var catalogo in Model.Catalogos)
                        {
                            var selected = Model.CatalogoID == catalogo.ID ? "selected" : string.Empty;
                            <option value="@catalogo.ID" @selected>
                                @catalogo.Description
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        @("Dashboard.Categories.Action.ParentCategory".Localized())
                    </label>
                    <select class="form-control" name="ParentCategoryID" id="ParentCategoryID">
                        <option value="0">@("Dashboard.Categories.Action.ParentCategoryNone".Localized())</option>
                        @foreach (var category in Model.Categories.Where(x => x.ID != Model.CategoryID))
                        {
                            var selected = Model.ParentCategoryID == category.ID ? "selected" : string.Empty;

                            var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                            if (currentLanguageCategoryRecord != null)
                            {
                                <option value="@category.ID" @selected>
                                    @currentLanguageCategoryRecord.Name
                                </option>
                            }
                            else
                            {
                                <option value="@category.ID" @selected>
                                    @category.SanitizedName
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">

                <div class="form-group">
                    <label>
                        @("Dashboard.Categories.Action.URL".Localized())
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                @Url.CatalogoMoto(category: "").ToSiteURL()/
                            </span>
                        </div>
                        <input type="text" class="form-control" id="SanitizedName" name="SanitizedName" value="@Model.SanitizedName">
                    </div>
                </div>

                <div class="form-group" id="pics-container">
                    <label>
                        @("Dashboard.Categories.Action.SelectPicture".Localized())
                    </label>
                    <input id="categoryPicture" class="uPicUploadInput form-control" type="file" />
                    <input type="hidden" name="PictureID" value="@Model.PictureID" />
                    <div id="pictureArea" class="pt-2">
                        @Html.Picture(Model.Picture, "image img-thumbnail", "height: 433px; width: 380px; border: 1px solid #efefef", lazyLoad: false)
                    </div>
                </div>

                <div class="form-group" id="pics-container-movil">
                    <label>
                        Imagen para Móvil
                    </label>
                    <input id="categoryPictureMovil" class="uPicUploadInput form-control" type="file" />
                    <input type="hidden" name="PictureMovilID" value="@Model.PictureMovilID" />
                    <div id="pictureMovilArea" class="pt-2">
                        @Html.Picture(Model.PictureMovil, "image img-thumbnail", "height: 250px; width: 720px; border: 1px solid #efefef", lazyLoad: false)
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" name="isFeatured" value="true" class="form-check-input" id="isFeatured" @(Model.isFeatured ? "checked" : string.Empty)>
                        <input type="hidden" name="isFeatured" value="false">

                        <label class="form-check-label" for="isFeatured">
                            @("Dashboard.Categories.Action.Featured".Localized())
                        </label>
                    </div>
                </div>

                <hr />
                <div class="form-group mb-0">
                    @if (Model.CategoryID > 0)
                    {
                        <button class="btn btn-success" type="submit" id="actionButton">
                            <i class="fas fa-edit mr-1"></i>
                            @("Dashboard.Categories.Update".Localized())
                        </button>
                        <button class="deleteButton btn btn-danger" type="button" data-id="@Model.CategoryID">
                            <i class="fas fa-trash-alt mr-1"></i>
                            @("Dashboard.Categories.Delete".Localized())
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit" id="actionButton">
                            <i class="fas fa-plus mr-1"></i>
                            @("Dashboard.Categories.Save".Localized())
                        </button>
                    }
                    <a class="btn btn-secondary" href="@Url.ListAction("Categories")">
                        <i class="fas fa-angle-double-left mr-1"></i>
                        @("Dashboard.Categories.Cancel".Localized())
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="pictureTemplate" style="display:none">
    @Html.UserAvatar(new eCommerce.Entities.Picture(), "image img-thumbnail", "height: 433px; width: 380px; border: 1px solid #efefef")
</div>
<div id="pictureMovilTemplate" style="display:none">
    @Html.UserAvatar(new eCommerce.Entities.Picture(), "image img-thumbnail", "height: 433px; width: 380px; border: 1px solid #efefef")
</div>

<script>
    $("#SanitizedName").keyup(function () {
        var titleValue = $(this).val();
        if (titleValue) {
            var sanitizedURL = titleValue.replace(/[^a-zA-Z0-9-]/g, "-").replace(/-{2,}/g, "-").toLowerCase();
            $("#SanitizedName").val(sanitizedURL);
        }
    });


    $("#categoryPicture").change(function () {
		var pictures = this.files;

		var picsData = new FormData();

		for (var i = 0; i < pictures.length; i++) {
			picsData.append("Picture", pictures[i]);
		}

        addLoader("pics-container");
		$.ajax({
			url: "@Url.UploadPictures()",
			type: "post",
			data: picsData,
			dateType: "json",
			processData: false,
			contentType: false
		})
        .done(function (responses) {
            if (responses != undefined) {
                var picResponse = responses[0];
                AttachNewImage(picResponse.pictureURL, picResponse.ID);
            }
            removeLoader("pics-container");
        })
        .fail(function () {
             removeLoader("pics-container");
             Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
		});
    });

    $("#categoryPictureMovil").change(function () {
		var picturesMovil = this.files;

		var picsData = new FormData();

        for (var i = 0; i < picturesMovil.length; i++) {
            picsData.append("Picture", picturesMovil[i]);
		}

        addLoader("pics-container-movil");
		$.ajax({
			url: "@Url.UploadPictures()",
			type: "post",
			data: picsData,
			dateType: "json",
			processData: false,
			contentType: false
		})
        .done(function (responses) {
            if (responses != undefined) {
                var picResponse = responses[0];
                AttachNewImageMovil(picResponse.pictureURL, picResponse.ID);
            }
            removeLoader("pics-container-movil");
        })
        .fail(function () {
             removeLoader("pics-container-movil");
             Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
		});
    });

    $("#CatalogoID").change(function () {
        var ID = $(this).val();
        console.log("Hola");

		$.ajax({
            url: "/Categories/listarCategoriasPorCatalogo",
			type: "GET",
            data: ID,
			dateType: "json",
			processData: false,
			contentType: false
		})
            .done(function (responses) {
                console.log(responses);

        })
    });

  //  function listarMarcas() {
  //      $.ajax({
  //          method: "GET",
  //          url: "/Financiamiento/listarCategoriasPorCatalogo",
  //          success: function (result) {
  //              debugger;
  //              console.log(result);
  //              let Marca = result;
  //              llenarCombo(Marca, "cboMarca", "Descripcion", "Descripcion", "0")
  //          }
  //      });
  //  }

  //  function llenarCombo(data, id, propiedadMostrar, propiedadId, valueDefecto = "") {
  //      debugger;
  //      var contenido = ""
  //      var elemento;
  //      contenido += "<option value='" + valueDefecto + "'>--Seleccionar--</option>"
  //      for (var j = 0; j < data.length; j++) {
  //          elemento = data[j];
  //          contenido +=
  //              "<option value='" + elemento[propiedadId] + "' >" + elemento[propiedadMostrar] + "</option>"
  //      }
  //      contenido += "";
  //      document.getElementById(id).innerHTML = contenido;
  //  }

    function AttachNewImage(imageURL, imageID) {
        var $newimgHTML = $("#pictureTemplate").clone();

        $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
        $newimgHTML.find(".image").attr("data-id", imageID);

        $("input[name=PictureID]").val(imageID);

        $("#pictureArea").html($newimgHTML.html());
    }

    function AttachNewImageMovil(imageURL, imageID) {
        var $newimgHTML = $("#pictureMovilTemplate").clone();

        $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
        $newimgHTML.find(".image").attr("data-id", imageID);

        $("input[name=PictureMovilID]").val(imageID);

        $("#pictureMovilArea").html($newimgHTML.html());
    }

    $("#actionForm").validate({
		errorClass: "alert alert-danger",
		errorElement: "div",
		rules: {
			Name: {
				required: true,
				minlength: 3,
				maxlength: 150
			},
			Description: {
				minlength: 20
			}
		},
		messages: {
			Name: {
				required: "@("Dashboard.Categories.Action.Validation.NameRequired".Localized())",
				minlength: "@("Dashboard.Categories.Action.Validation.NameMinimumLength".Localized().ToString().Replace("{min}", "3"))",
				maxlength: "@("Dashboard.Categories.Action.Validation.NameMaximumLength".Localized().ToString().Replace("{max}", "150"))"
			},
			Description: {
				minlength: "@("Dashboard.Categories.Action.Validation.DescriptionMinimumLength".Localized().ToString().Replace("{min}", "20"))",
			}
		},
		highlight: function (element, errorClass) {
			$(element).removeClass(errorClass);
		}
	});

    $("#actionForm").submit(function (e) {
        if ($("#actionForm").valid()) {
            addLoader("actionForm");
            $.ajax({
                type: "post",
                data: $("#actionForm").serialize()
			})
            .done(function (response) {
                if (response.Success) {
                    window.location.href = "@Url.ListAction("Categories")";
			    }
                else {
                    removeLoader("actionForm");
                    Swal.fire("@("Dashboard.Message.Error".Localized())", response.Message, "error");
			    }
            })
            .fail(function () {
                 removeLoader("actionForm");
                 Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
			});
        }

        e.preventDefault();
    });

    $(".deleteButton").click(function () {
        var recordID = $(this).attr("data-id");

        Swal.fire({
            title: '@("Dashboard.Message.Warning".Localized())',
            text: "@("Dashboard.Message.ConfirmDeleteWarning".Localized())",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '@("Dashboard.Message.ConfirmDelete".Localized())',
            cancelButtonText: '@("Dashboard.Message.CancelDelete".Localized())'
        }).then((result) => {
            if (result.value) {
                addLoader("actionForm");
				$.ajax({
					url: "@Url.DeleteAction("Categories")",
                    type: "post",
                    data: { id: recordID }
				})
                .done(function (response) {
                    if (response != null && response.Success != undefined && response.Success) {
                        window.location.href = "@Url.ListAction("Categories")";
				    }
                    else {
                        removeLoader("actionForm");
                        Swal.fire("@("Dashboard.Message.Error".Localized())", response.Message, "error");
				    }
				})
                .fail(function () {
                     removeLoader("actionForm");
                     Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
			    });
            }
        });
    });


</script>