@model LanguagesListingViewModel
@{
	if (Model != null)
	{
		Model.PageTitle = "Dashboard.Languages.Title".LocalizedString();
		Model.PageDescription = "Dashboard.Languages.Description".LocalizedString();
		Model.PageURL = Url.ListAction("Languages");
		Model.PageImageURL = PictureHelper.PageImageURL("languages.jpg");
	}
}

<div class="page-info-container">
	<h3 class="h3 mb-2 text-gray-800">
		@Model.PageTitle
	</h3>
	<p>
		@Model.PageDescription
	</p>
	<hr />
</div>

<div class="page-data-holder card shadow mb-4">
	<div class="card-header">
		<form action="@Url.ListAction("Languages")">
			<div class="input-group">
				<input name="searchTerm" type="text" value="@Model.SearchTerm" class="form-control" placeholder="@("Dashboard.Languages.SearchPlaceholder".Localized())">
				<button type="submit" class="form-control btn btn-primary"><i class="fas fa-search"></i> @("Dashboard.Languages.Search".Localized())</button>
				<a href="@Url.ListAction("Languages")" role="button" class="form-control btn btn-primary"><i class="fas fa-redo-alt"></i> @("Dashboard.Languages.Reset".Localized())</a>
				<a href="@Url.CreateAction("Languages")" role="button" class="form-control btn btn-success"><i class="fas fa-plus"></i> @("Dashboard.Languages.AddLanguage".Localized())</a>
			</div>
		</form>
	</div>
	<div class="card-body p-0" id="list-holder">
		@{Html.RenderPartial("_Listing", Model);}
	</div>
</div>