@using eCommerce.Entities;
@model eCommerce.Web.Areas.Dashboard.ViewModels.PromosListingViewModel

@if (Model != null && Model.Promos != null && Model.Promos.Count > 0)
{
    <table class="table table-hover table-responsive-sm m-0">
        <thead class="thead-light">
            <tr>
                <th>
                    @("Dashboard.Promos.List.Name".Localized())
                </th>
                <th>
                    @("Dashboard.Promos.List.Code".Localized())
                </th>
                <th>
                    @("Dashboard.Promos.List.PromoType".Localized())
                </th>
                <th>
                    @("Dashboard.Promos.List.Value".Localized())
                </th>
                <th>
                    @("Dashboard.Promos.List.ValidTill".Localized())
                </th>
                <th>
                    @("Dashboard.Promos.List.Actions".Localized())
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var promo in Model.Promos)
            {
                <tr>
                    <td>
                        @promo.Name
                    </td>
                    <td>
                        @promo.Code
                    </td>
                    <td>
                        @(("Dashboard.Promos.PromoTypes." + ((PromoTypes)promo.PromoType).ToString()).Localized())
                    </td>
                    <td>
                        @promo.Value
                    </td>
                    <td>
                        @promo.ValidTill
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" href="@Url.EditAction("Promos", promo.ID)">
                                <i class="fas fa-edit mr-1"></i>
                                @("Dashboard.Promos.Edit".Localized())
                            </a>
                            <button class="deleteButton btn btn-danger" data-id="@promo.ID">
                                <i class="fas fa-trash-alt mr-1"></i>
                                @("Dashboard.Promos.Delete".Localized())
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pager != null && Model.Pager.TotalPages > 1)
    {
        <nav class="my-2">
            <ul class="pagination justify-content-center">
                @if (Model.Pager.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">@("Dashboard.Pagination.Previous".Localized())</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Promos(Model.SearchTerm, Model.Pager.CurrentPage - 1)">@("Dashboard.Pagination.Previous".Localized())</a>
                    </li>
                }

                @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                {
                    var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;

                    <li class="page-item @active">
                        <a class="page-link" href="@Url.Promos(Model.SearchTerm, page)">
                            @page
                        </a>
                    </li>
                }

                @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">@("Dashboard.Pagination.Next".Localized())</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Promos(Model.SearchTerm, Model.Pager.CurrentPage + 1)">@("Dashboard.Pagination.Next".Localized())</a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    <div class="alert alert-warning rounded-0 m-0" role="alert">
        @("Dashboard.Promos.List.NoRecordFound".Localized())
    </div>
}

<script>
    $(".deleteButton").click(function () {
        var recordID = $(this).attr("data-id");

        Swal.fire({
            title: '@("Dashboard.Message.Warning".Localized())',
            text: "@("Dashboard.Message.ConfirmDeleteWarning".Localized())",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '@("Dashboard.Message.ConfirmDelete".Localized())',
            cancelButtonText: '@("Dashboard.Message.CancelDelete".Localized())'
        }).then((result) => {
            if (result.value) {
                addLoader("list-holder");
				$.ajax({
					url: "@Url.DeleteAction("Promos")",
                    type: "post",
                    data: { id: recordID }
				})
                .done(function (response) {
                    if (response != null && response.Success != undefined && response.Success) {
                        window.location.href = "@Url.ListAction("Promos")";
				    }
                    else {
                        removeLoader("list-holder");
                        Swal.fire("@("Dashboard.Message.Error".Localized())", response.Message, "error");
				    }
				})
                .fail(function () {
                     removeLoader("list-holder");
                     Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
			    });
            }
        });
    });
</script>