@model FinanciamientosViewModels

 
<style>
    input[type="checkbox"] {
        opacity: 1;
    }
</style>

<br />
 
    @*<div class="card" style="background: repeat rgb(241, 240, 240);">*@
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
                <img src="../Content/bm3/images/banner/banner_categoria_financiera_efectiva.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1"></div>
        </div>
    @*</div>*@
     
    <br />
    <div class="card" style="background: repeat rgb(241, 240, 240);">
        <form method="post" id="frmEfectiva">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Nombre">Nombre<span class="text-danger">*</span></label>
                            <input class="form-control" name="Nombre" aria-label="default input example" placeholder="Ingrese Nombres" id="txtNombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Nombres'" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Apellido">Apellidos<span class="text-danger">*</span></label>
                            <input class="form-control" id="txtApellido" name="Apellido" placeholder="Ingrese Apellidos" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Apellidos'">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Celular">Celular<span class="text-danger">*</span></label>
                            <input class="form-control" id="txtCelular" name="Celular" placeholder="Ingrese Celular" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Celular'">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Correo">Email<span class="text-danger">*</span></label>
                            <input class="form-control" id="txtCorreo" name="Correo" placeholder="Ingrese Correo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Correo'">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="TipoDocumento">Tipo Documento<span class="text-danger">*</span></label>
                            <select id="cboTipoDocumento" class="form-control custom-select" name="TipoDocumento">
                                <option value="1">DNI</option>
                                <option value="2">C.Extranjería</option>
                                <option value="3">Pasaporte</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="NroDocumento">Nro Documento<span class="text-danger">*</span></label>
                            <input class="form-control" id="txtNroDocumento" name="NroDocumento" placeholder="Ingrese NroDocumento" onfocus="this.placeholder = ''" onblur="this.placeholder = 'NroDocumento'">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="InteresCompra">Interés de Compra<span class="text-danger">*</span></label>
                            <select id="cboInteresCompra" class="form-control custom-select" name="InteresCompra">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Departamento">Departamento<span class="text-danger">*</span></label>
                            <select id="cboDepartamento" class="form-control" name="Departamento">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Provincia">Provincia<span class="text-danger">*</span></label>
                            <select id="cboProvincia" class="form-control custom-select" name="Provincia">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Marca">Marca<span class="text-danger">*</span></label>
                            <select id="cboMarca" class="form-control custom-select" name="Marca">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="Modelo">Modelo<span class="text-danger">*</span></label>
                            <input class="form-control" id="txtModelo" name="Modelo" placeholder="Ingrese Modelo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo'">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="TipoVivienda">Tipo de Vivienda<span class="text-danger">*</span></label>
                            <select id="cboTipoVivienda" class="form-control custom-select">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="SituacionLaboral">Situación Laboral<span class="text-danger">*</span></label>
                            <select id="cboSituacionLaboral" class="form-control custom-select" name="SituacionLaboral">
                                <option value="0">--Seleccionar--</option>
                                <option value="Formal">Formal</option>
                                <option value="Informal">Informal</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="group-input">
                            <label for="EstadoCivil">Estado Civil<span class="text-danger">*</span></label>
                            <select id="cboEstadoCivil" class="form-control custom-select" name="EstadoCivil">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="group-input">
                            <label for="RangoIngresos">Rango de Ingresos<span class="text-danger">*</span></label>
                            <select id="cboRangoIngresos" class="form-control custom-select" name="RangoIngresos">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6 form-check">
                        <input type="checkbox" name="PoliticaPrivacidad" id="PoliticaPrivacidad">
                        <label class="form-check-label" for="PoliticaPrivacidad">He leído y acepto la política de privacidad <span class="text-danger">*</span></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6 form-check">
                        <input type="checkbox" name="AceptoComunicaciones" id="AceptoComunicaciones">
                        <label class="form-check-label" for="AceptoComunicaciones">Acepto recibir comunicaciones comerciales de LA EMPRESA <span class="text-danger">*</span></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <button class="btn btn-success" type="submit" id="actionButton"><i class="ti-save"></i>  Enviar</button>
                    </div>
                </div>
                <br />
            </div>
        </form>
    </div>
   

    <script src="~/content/lib/jquery-validation-1.19.1/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/content/lib/sweetalert2-9.10.7/sweetalert2.all.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            listarMarcas();
            listarEstadoCivil();
            listaTipoVivienda();
            listaRangoIngreso();
            listaInteresCompra();
            listaDepartamento();


        });


            $("#frmEfectiva").validate({
		            errorClass: "alert alert-danger",
		            errorElement: "div",
		            rules: {
			            Nombre: {
				            required: true,
				            minlength: 1,
				            maxlength: 50
			            },
                        Apellido: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        Correo: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        Celular: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        NroDocumento: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        Modelo: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        TipoDocumento: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        InteresCompra: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        Departamento: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        Provincia: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        Marca: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                       PoliticaPrivacidad: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },
                        AceptoComunicaciones: {
                            required: true,
                            minlength: 1,
                            maxlength: 50
                        },



		            },
		            messages: {
                        Nombre: {
				            required: "Nombre Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.NameMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.NameMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Apellido: {
				            required: "Apellido Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Correo: {
				            required: "Correo Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.NameMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.NameMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Celular: {
				            required: "Celular Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        NroDocumento: {
				            required: "NroDocumento Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Modelo: {
                            required: "Modelo Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        TipoDocumento: {
                            required: "TipoDocumento Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        InteresCompra: {
                            required: "InteresCompra Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Departamento: {
                            required: "Departamento Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Provincia: {
                            required: "Provincia Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        Marca: {
                            required: "Marca Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                          PoliticaPrivacidad: {
                            required: "Politica de Seguridad Requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        },
                        AceptoComunicaciones: {
                            required: "Acepto terminos de comunicaciones requerido",
				            minlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMinimumLength".LocalizedString().Replace("{min}", "1"))",
				            maxlength: "@("Dashboard.Languages.Action.Validation.ShortCodeMaximumLength".LocalizedString().Replace("{max}", "80"))"
                        }

		            },
		            highlight: function (element, errorClass) {
			            $(element).removeClass(errorClass);
		            }
            });




        $("#frmEfectiva").submit(function (event) { 
            GuardarFinanciamiento(); 
            event.preventDefault();  
        })

        function GuardarFinanciamiento() {
            if ($("#frmEfectiva").valid()) {
                debugger;
                //addLoader("frmEfectiva");
                var Nombre = $("#txtNombre").val();
                var Apellido = $("#txtApellido").val();
                var Celular = $("#txtCelular").val();
                var Correo = $("#txtCorreo").val();
                var TipoDocumento = $("#cboTipoDocumento").val();
                var NroDocumento = $("#txtNroDocumento").val();
                var InteresCompra = $("#cboInteresCompra").val();
                var Departamento = $("#cboDepartamento").val();
                var Provincia = $("#cboProvincia").val();
                var Distrito = 00;
                var Marca = $("#cboMarca").val();
                var Modelo = $("#txtModelo").val();
                var TipoVivienda = $("#cboTipoVivienda").val();
                var SituacionLaboral = $("#cboSituacionLaboral").val();
                var SituacionSentimental = $("#cboEstadoCivil").val();
                var RangoIngreso = $("#cboRangoIngresos").val();
                var PoliticaPrivacidad = document.getElementById('PoliticaPrivacidad').checked;
                var AceptoComunicaciones = document.getElementById('PoliticaPrivacidad').checked;
                var MontoFinanciar = 0;
                var TipoFinanciera = 1;

                var model = new Object();
                model.Nombre = Nombre;
                model.Apellido = Apellido;
                model.Celular = Celular;
                model.Correo = Correo;
                model.TipoDocumento = TipoDocumento;
                model.NroDocumento = NroDocumento;
                model.InteresCompra = InteresCompra;
                model.Departamento = Departamento;
                model.Provincia = Provincia;
                model.Distrito = Distrito;
                model.Marca = Marca;
                model.Modelo = Modelo;
                model.TipoVivienda = TipoVivienda;
                model.SituacionLaboral = SituacionLaboral;
                model.SituacionSentimental = SituacionSentimental;
                model.RangoIngreso = RangoIngreso;
                model.PoliticaPrivacidad = PoliticaPrivacidad;
                model.AceptoComunicaciones = AceptoComunicaciones;
                model.MontoFinanciar = MontoFinanciar;
                model.TipoFinanciera = TipoFinanciera;

                 $.ajax({
                    method: "POST",
                    url: "/Financiamiento/GuardarFinanciamiento",
                    data: {
                        model
                    },
                    success: function (result) {
                        debugger;
                        Swal.fire("Bien Hecho!", 'Enviado Correctamente', "success");
                        window.location.href = "@Url.Home()";
                    }

                });

        }
    }



        function listarMarcas() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listarMarca",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboMarca", "Descripcion", "Descripcion", "0")
                }
            });
        }

        function listarEstadoCivil() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listarEstadoCivil",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboEstadoCivil", "Valor", "Valor", "0")
                }
            });
        }

        function listaTipoVivienda() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listaTipoVivienda",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboTipoVivienda", "Valor", "Codigo", "0")
                }
            });
        }

        function listaRangoIngreso() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listaRangoIngreso",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboRangoIngresos", "Valor", "Codigo", "0")
                }
            });
        }

        function listaInteresCompra() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listaInteresCompra",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboInteresCompra", "Valor", "Codigo", "0")
                }
            });
        }

        function listaDepartamento() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listarDepartamentos",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarComboDpto(Marca, "cboDepartamento", "NombreUbigeo", "CodDep", "0")
                }
            });
        }


        function llenarComboDpto(data, id, propiedadMostrar, propiedadId, valueDefecto = "") {
            debugger;
            var contenido = ""
            var elemento;
            contenido += "<option value='" + valueDefecto + "'>--Seleccionar--</option>"
            for (var j = 0; j < data.length; j++) {
                elemento = data[j];
                contenido +=
                    "<option value='" + elemento[propiedadId] + "|" + elemento[propiedadMostrar] + "'  >" + elemento[propiedadMostrar] + "</option>"
            }
            contenido += "";
            document.getElementById(id).innerHTML = contenido;
        }



        function llenarCombo(data, id, propiedadMostrar, propiedadId, valueDefecto = "") {
            debugger;
            var contenido = ""
            var elemento;
            contenido += "<option value='" + valueDefecto + "'>--Seleccionar--</option>"
            for (var j = 0; j < data.length; j++) {
                elemento = data[j];
                contenido +=
                    "<option value='" + elemento[propiedadId] + "' >" + elemento[propiedadMostrar] + "</option>"
            }
            contenido += "";
            document.getElementById(id).innerHTML = contenido;
        }


        $("#cboDepartamento").on('change', function () {
            debugger;
            var cboDpto = $("#cboDepartamento").val();
            var splitdepart = cboDpto.split('|');
            var departamento = splitdepart[0];
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listarProvincias",
                data: { departamento },
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboProvincia", "NombreUbigeo", "NombreUbigeo", "0")
                }
            });

        });


    </script>

    




