@model eCommerce.Web.ViewModels.CommentsListingViewModel

@{
    if (Model != null)
    {
        Model.PageTitle = "Dashboard.Comments.Title".LocalizedString();
        Model.PageDescription = "Dashboard.Comments.Description".LocalizedString();
        Model.PageURL = Url.ListAction("Comments");
        Model.PageImageURL = PictureHelper.PageImageURL("comments.jpg");
    }
}

<div class="page-info-container">
    <h3 class="h3 mb-2 text-gray-800">
        @Model.PageTitle
    </h3>
    <p>
        @Model.PageDescription
    </p>
    <hr />
</div>

<div class="page-data-holder card shadow mb-4">
    <div class="card-header">
        <form action="@Url.ListAction("Comments")">
            <div class="input-group">
                <input name="searchterm" type="text" value="@Model.SearchTerm" class="form-control" placeholder="@("Dashboard.Comments.SearchPlaceholder".Localized())">
                <button type="submit" class="form-control btn btn-primary"><i class="fas fa-search"></i> @("Dashboard.Comments.Search".Localized())</button>
                <a href="@Url.ListAction("Comments")" role="button" class="form-control btn btn-primary"><i class="fas fa-redo-alt"></i> @("Dashboard.Comments.Reset".Localized())</a>
            </div>
        </form>
    </div>
    <div class="card-body p-0" id="list-holder">
        @{Html.RenderPartial("_Listing", Model);}
    </div>
</div>