@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.ProductsViewModel

@if (Model != null && Model.Categories != null && Model.Categories.Count > 0)
{
    var categoriesWithChildren = CategoryHelpers.MakeCategoriesHierarchy(Model.Categories);
    int marcaId = Convert.ToInt32(Model.MarcaID);
    int categoryId = Convert.ToInt32(Model.CategoryID);

    <ul class="cat-list style1 widget-content">      
        <li>
            <label>
                <a href="@Url.CatalogoMoto(categoryId: 0, marcaId : marcaId)">
                    <input type="radio" @(categoryId==0 ? "checked" : string.Empty) name="grupoCategoria" value="0" /><span>TODAS LAS CATEGORIAS</span>
                </a>
            </label>
        </li>
        @foreach (var categoryWithChildren in categoriesWithChildren)
        {
            //Cargar Categorias
            var category = categoryWithChildren.Category;
            var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);          
            <li>
                <label>
                    <a href="@Url.CatalogoMoto(categoryId: category.ID, marcaId: marcaId)">
                        <input type="radio" @(category.ID == categoryId ? "checked" : string.Empty) name="grupoCategoria" value="@(category.ID)" /><span>@(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name.ToUpper() : string.Empty)</span>
                    </a>
                </label>
            </li>
        }
    </ul>

}

