@using eCommerce.Entities;
@model eCommerce.Web.Areas.Dashboard.ViewModels.TipoCambiosListingViewModel

@if (Model != null && Model.TCambios != null && Model.TCambios.Count > 0)
{
    <table class="table table-hover table-responsive-sm m-0">
        <thead class="thead-light">
            <tr>
                <th>
                    Venta
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tcambio in Model.TCambios)
            {
                <tr>
                    <td>
                        @tcambio.Venta
                    </td>
                    <td>
                        @tcambio.Fecha
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" href="@Url.EditAction("TipoCambio", tcambio.ID)">
                                <i class="fas fa-edit mr-1"></i>
                              Editar
                            </a>
                            <button class="deleteButton btn btn-danger" data-id="@tcambio.ID">
                                <i class="fas fa-trash-alt mr-1"></i>
                              Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pager != null && Model.Pager.TotalPages > 1)
    {
        <nav class="my-2">
            <ul class="pagination justify-content-center">
                @if (Model.Pager.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">@("Dashboard.Pagination.Previous".Localized())</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.TipoCambio(Model.SearchTerm, Model.Pager.CurrentPage - 1)">@("Dashboard.Pagination.Previous".Localized())</a>
                    </li>
                }

                @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                {
                    var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;

                    <li class="page-item @active">
                        <a class="page-link" href="@Url.TipoCambio(Model.SearchTerm, page)">
                            @page
                        </a>
                    </li>
                }

                @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">@("Dashboard.Pagination.Next".Localized())</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.TipoCambio(Model.SearchTerm, Model.Pager.CurrentPage + 1)">@("Dashboard.Pagination.Next".Localized())</a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    <div class="alert alert-warning rounded-0 m-0" role="alert">
       No se encuentra disponible
    </div>
}

<script>
    $(".deleteButton").click(function () {
        var recordID = $(this).attr("data-id");

        Swal.fire({
            title: '@("Dashboard.Message.Warning".Localized())',
            text: "@("Dashboard.Message.ConfirmDeleteWarning".Localized())",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '@("Dashboard.Message.ConfirmDelete".Localized())',
            cancelButtonText: '@("Dashboard.Message.CancelDelete".Localized())'
        }).then((result) => {
            if (result.value) {
                addLoader("list-holder");
				$.ajax({
					url: "@Url.DeleteAction("TipoCambio")",
                    type: "post",
                    data: { id: recordID }
				})
                .done(function (response) {
                    if (response != null && response.Success != undefined && response.Success) {
                        window.location.href = "@Url.ListAction("TipoCambio")";
				    }
                    else {
                        removeLoader("list-holder");
                        Swal.fire("@("Dashboard.Message.Error".Localized())", response.Message, "error");
				    }
				})
                .fail(function () {
                     removeLoader("list-holder");
                     Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
			    });
            }
        });
    });
</script>

