
@model TipoCambiosActionViewModels
@{
    if (Model != null)
    {
        if (Model.ID > 0)
        {
            Model.PageTitle = "Editar Tipo de Cambio";
            Model.PageDescription = "Dashboard.Color.EditColorDescription".LocalizedString();
            Model.PageURL = Url.EditAction("TipoCambio", Model.ID);
        }
        else
        {
            Model.PageTitle = "Crear Tipo de Cambio";
            Model.PageDescription = "Dashboard.Color.CreateColorDescription".LocalizedString();
            Model.PageURL = Url.CreateAction("TipoCambio");
            DateTime fecha = new DateTime();
            fecha = DateTime.Now;
            //Model.fechaConvert = fecha;
        }

        Model.PageImageURL = PictureHelper.PageImageURL("promos.jpg");





    }

    DateTime hoy = DateTime.Now;
    string fechaActual = hoy.ToString("dd/MM/yyyy");
}

<link href="~/Content/lib/alertify/css/alertify.min.css" rel="stylesheet" />
<link href="~/Content/lib/alertify/css/themes/default.min.css" rel="stylesheet" />
<link href="~/Content/lib/alertify/css/themes/semantic.min.css" rel="stylesheet" />
<link href="~/Content/lib/alertify/css/themes/bootstrap.min.css" rel="stylesheet" />

<div class="page-info-container">
    <h3 class="h3 mb-2 text-gray-800">
        @Model.PageTitle
    </h3>
    <p>
        @Model.PageDescription
    </p>
    <hr />
</div>

<div class="page-data-holder mb-4">
    <form id="actionForm" method="post">
        <input type="hidden" name="ID" value="@Model.ID" />
        <div class="form-group">
            <div class="col-md-4">
                <label>
                    Fecha
                </label>
                <input class="form-control" id="txtFecha" name="Fecha" value="@(Model.Fecha == Convert.ToDateTime("01/01/0001") ?  fechaActual : Model.Fecha.ToString("dd/MM/yyyy") )" />
            </div>
            <div class="col-md-4">
                <label>
                    Venta
                </label>
                @*<input class="form-control" type="number" min="0.0" max="100" name="Venta" id="txtVenta" value="@(Model.Venta == "0" || Model.Venta == string.Empty || Model.Venta == null ? Model.Venta : Model.Venta.ToString().Replace(",", "."))" maxlength="4" onkeypress="return Decimal(this, event);" />*@
                <input class="form-control" step="0.01" type="number" min="0" max="100" name="Venta" id="txtVenta" value="@(Model.ID > 0 ? Model.Venta.ToString() : "0")"  maxlength="4"/>
            </div>

        </div>       
        <hr />
        <div class="form-group mb-0">
            @if (Model.ID > 0)
            {
                <button class="btn btn-success" type="submit" id="actionButton">
                    <i class="fas fa-edit mr-1"></i>
                    Actualizar
                </button>
                <button class="deleteButton btn btn-danger" type="button" data-id="@Model.ID">
                    <i class="fas fa-trash-alt mr-1"></i>
                    Eliminar
                </button>
            }
            else
            {
                <button class="btn btn-success" type="submit" id="actionButton">
                    <i class="fas fa-plus mr-1"></i>
                    Guardar
                </button>
            }
            <a class="btn btn-secondary" href="@Url.ListAction("TipoCambio")">
                <i class="fas fa-angle-double-left mr-1"></i>
                Cancelar
            </a>
        </div>
    </form>
</div>

<script src="~/Content/lib/alertify/alertify.min.js"></script>
<script src="~/Scripts/validaciones.js"></script>

<script>


    $(document).ready(function () {


        $.datepicker.setDefaults($.datepicker.regional["es"]);
        $("#txtFecha").datepicker({
            firstDay: 1,
            showAnim: "slide",
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            monthNamesShort: ["Ene", "Feb", "Mar", "Abr",
                "May", "Jun", "Jul", "Ago",
                "Set", "Oct", "Nov", "Dic"],
            dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            //dayNamesShort: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            duration: "slow",

        })

        $("#actionForm").submit(function (e) {
            debugger;
            submitForm();
            e.preventDefault();
        });


    $(".deleteButton").click(function () {
        var recordID = $(this).attr("data-id");

        Swal.fire({
            title: '@("Dashboard.Message.Warning".Localized())',
            text: "@("Dashboard.Message.ConfirmDeleteWarning".Localized())",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '@("Dashboard.Message.ConfirmDelete".Localized())',
            cancelButtonText: '@("Dashboard.Message.CancelDelete".Localized())'
        }).then((result) => {
            if (result.value) {
                addLoader("actionForm");
				$.ajax({
					url: "@Url.DeleteAction("TipoCambio")",
                    type: "post",
                    data: { id: recordID }
				})
                .done(function (response) {
                    if (response != null && response.Success != undefined && response.Success) {
                        window.location.href = "@Url.ListAction("TipoCambio")";
				    }
                    else {
                        removeLoader("actionForm");
                        Swal.fire("@("Dashboard.Message.Error".Localized())", response.Message, "error");
				    }
				})
                .fail(function () {
                     removeLoader("actionForm");
                     Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
			    });
            }
        });
    });

    });


    function submitForm() {        
        if ($("#txtVenta").val() == 0 || $("#txtVenta").val() == "") {
            alertify.warning('El Valor Venta no puede ser 0');
            return false;
        }

        let Venta = $("#txtVenta").val();
        let Fecha = $("#txtFecha").val();
        let valor = $("#txtVenta").val();
        let FechaFormat = transformarFecha(Fecha);

        var model = new Object();
        model.Venta = Venta;
        //model.Fecha = FechaFormat;
        model.FechaStr = Fecha;
        model.valor = valor;

        console.log(model);

        console.log($("#actionForm").serialize());

        addLoader("actionForm");
        $.ajax({
            method: "POST",
            //url: "/TipoCambio/Action",
            data: {
                "Venta": Venta,
                "Fecha": FechaFormat,
                "Compra": valor,
            },

             //data: $("#actionForm").serialize()
			})
            .done(function (response) {
                if (response.Success) {
                    window.location.href = "@Url.ListAction("TipoCambio")";
			    }
			    else {
                    removeLoader("actionForm");
                    Swal.fire("@("Dashboard.Message.Error".Localized())", response.Message, "error");
			    }
			})
            .fail(function () {
                 removeLoader("actionForm");
                 Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
			});
    }

    function transformarFecha(fecha) {
        var f = fecha.split("/");
        if (f.length > 0)
            return (f[2] + "-" + f[1] + "-" + f[0]);
        return fecha;
    }

</script>
