@model eCommerce.Web.Areas.Dashboard.ViewModels.TipoCambiosListingViewModel

@{
    if (Model != null)
    {
        Model.PageTitle = "Tipo de Cambios";
        Model.PageDescription = "Tipo Cambio";
        Model.PageURL = Url.ListAction("TipoCambio");
        Model.PageImageURL = PictureHelper.PageImageURL("color.jpg");
    }
}


<div class="page-info-container">
    <h3 class="h3 mb-2 text-gray-800">
        @Model.PageTitle
    </h3>
    <p>
        @Model.PageDescription
    </p>
    <hr />
</div>

<div class="page-data-holder card shadow mb-4">
    <div class="card-header">
        <form action="@Url.ListAction("TipoCambio")">
            <div class="input-group">
                <input name="searchterm" type="text" value="@Model.SearchTerm" class="form-control" placeholder="Buscar por Fecha">
                <button type="submit" class="form-control btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
                <a href="@Url.ListAction("TipoCambio")" role="button" class="form-control btn btn-primary"><i class="fas fa-redo-alt"></i> Refrescar</a>
                <a href="@Url.CreateAction("TipoCambio")" role="button" class="form-control btn btn-success"><i class="fas fa-plus"></i> Crear Tipo Cambio</a>
            </div>
        </form>
    </div>
    <div class="card-body p-0" id="list-holder">
        @{Html.RenderPartial("_Listing", Model);}
    </div>
</div>

