@model eCommerce.Web.ViewModels.ProductDetalleViewModel
@using eCommerce.Services

<style>
    .product-detail-bar {
        width: 108% !important;
    }

    .tecnical-specs.cssTamanio {
        font-size: 14px;
    }

    .detail-price-normal {
        text-decoration: line-through;
        font-size: xx-large !important;
    }


</style>

@{
    String iconoMoneda = "S/";
    if (Model != null)
    {
        if (Model.ProductID > 0)
        {
            iconoMoneda = Model.TipoMoneda == 2 ? "$" : "S/";
            var productStockTextColor = Model.StockQuantity > 0 ? "text-success bold" : "text-danger bold";
        }
    }
}

@if (Model != null)
{

    decimal tipoCambio = TipoCambioService.Instance.GetTypeUltimateChanged();
    var productPrice = Model.Discount.HasValue && Model.Discount.Value > 0 ? Model.Discount.Value : Model.Price;
    var productPriceDiscount = Model.TipoMoneda == 2 ? productPrice * tipoCambio : productPrice;
    var productPriceNormal = Model.TipoMoneda == 2 ? Model.Price * tipoCambio : Model.Price;
    var productPriceNormalSoles = Model.Price;

    var typeCoins = 1;
    var NumeroWhatsApp = ConfigurationsHelper.WhatsAppNumber;
    var textoWhatsApp = "Quiero Información sobre esta moto: " + Model.Name;
    var showEtiquetaOferta = false;
    var showEtiquetaSoat = false;

    if (Model.Discount.HasValue && Model.Discount.Value > 0)
    {
        showEtiquetaOferta = true;
    }

    if (Model.IncluyeSoat)
    {
        showEtiquetaSoat = true;
    }


    <section class="flat-row flat-product-detail">



        <div class="container-full">

            <div class="row">
                <div class="col-md-12">
                    <div class="product-detail" style="background-image: url(/Content/bm3/images/producto/background_detail.png); background-size: cover;">


                        @if (showEtiquetaOferta)
                        {
                            <div class="featureDetail">
                                @Model.EtiquetaOferta
                            </div>
                        }

                        @if (showEtiquetaSoat)
                        {
                            <div class="soatDetail">
                                @Model.EtiquetaSoat
                            </div>
                        }

                        <div class="container">



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-product-img" id="pics-container">
                                        @if (Model.ProductPicturesList != null && Model.ProductPicturesList.Count > 0)
                                        {
                                            var firstProductPicture = Model.ProductPicturesList.First();

                                            <img src='@Html.PictureSource(firstProductPicture.Picture.URL)' data-id="@firstProductPicture.PictureID" />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="product-info">
                                        @if (Model.MarcaID > 0)
                                        {
                                            var marca = Model.Marcas.FirstOrDefault(x => x.ID == Model.MarcaID);

                                            if (marca != null)
                                            {
                                                <h3 class="info-brand"> @marca.Descripcion</h3>
                                            }
                                        }
                                        else
                                        {
                                            <span>
                                                -
                                            </span>
                                        }

                                        <h3 class="info-title">@Model.Name</h3>
                                        @*<h3 class="info-version">2022</h3>*@
                                        <p class="info-summary">@Model.Summary</p>
                                        <p class="info-description">PRECIO REFERENCIAL</p>
                                        @if (Model.TipoMoneda == 2)
                                        {
                                            <p class="info-price">
                                                @if (Model.Discount.HasValue && Model.Discount.Value > 0)
                                                {
                                                    <span class="detail-price-normal">@iconoMoneda @productPriceNormalSoles.ToString("#,####")</span>
                                                }
                                                <span style="font-size:xxx-large;">@iconoMoneda @productPrice.ToString("#,####")</span>
                                            </p>
                                            <p class="info-description" style="font-size:x-large;">S/. @productPriceDiscount.ToString("#,####") *</p>
                                            <p class="info-description" style="font-size:inherit;">* T/C: @tipoCambio (REFERENCIAL)</p>
                                        }
                                        else
                                        {
                                            <p class="info-price">

                                                @if (Model.Discount.HasValue && Model.Discount.Value > 0)
                                                {
                                                    <span class="detail-price-normal">@iconoMoneda @productPriceNormalSoles.ToString("#,####")</span>
                                                }
                                                <span>@iconoMoneda @productPriceDiscount.ToString("#,####")</span>
                                            </p>
                                        }

                                        <a class="info-select waves-effect" target="_blank" href=" https://wa.me/@NumeroWhatsApp?text=@textoWhatsApp">Quiero esta moto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row flat-product-attribute">
        <div class="container">
            <div class="product-attribute">
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="product-item">
                            <div class="product-icon">
                                <img src="~/Content/bm3/images/icon-detalle/tanque-de-almacenamiento64px.png" />
                            </div>
                            <div class="product-value">
                                <span>@(Model.ProductoCaracteristica.consumo.CapacidadTanque == null ? "-" : Model.ProductoCaracteristica.consumo.CapacidadTanque)</span>
                            </div>
                            <div class="product-feature">
                                <span>CAPACIDAD DE TANQUE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="product-item">
                            <div class="product-icon">
                                <img src="~/Content/bm3/images/icon-detalle/engine64px.png" />
                            </div>
                            <div class="product-value">
                                <span>@(Model.ProductoCaracteristica.motor.Cilindrada == null ? "-" : Model.ProductoCaracteristica.motor.Cilindrada)</span>
                            </div>
                            <div class="product-feature">
                                <span>CILINDRADA</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="product-item">
                            <div class="product-icon">
                                <img src="~/Content/bm3/images/icon-detalle/velocimetro64px.png" />
                            </div>
                            <div class="product-value">
                                <span>@(Model.ProductoCaracteristica.transmisiones.NroCambios == null ? "-" : Model.ProductoCaracteristica.transmisiones.NroCambios)</span>
                            </div>
                            <div class="product-feature">
                                <span>VELOCIDADES</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="product-item">
                            <div class="product-icon">
                                <img src="~/Content/bm3/images/icon-detalle/potencia64px.png" />
                            </div>
                            <div class="product-value">
                                <span>@(Model.ProductoCaracteristica.motor.Potencia == null ? "-" : Model.ProductoCaracteristica.motor.Potencia)</span>
                            </div>
                            <div class="product-feature">
                                <span>POTENCIA</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="product-item">
                            <div class="product-icon">
                                <img src="~/Content/bm3/images/icon-detalle/torque-wrench64px.png" />
                            </div>
                            <div class="product-value">
                                <span>@(Model.ProductoCaracteristica.motor.Torque == null ? "-" : Model.ProductoCaracteristica.motor.Torque)</span>
                            </div>
                            <div class="product-feature">
                                <span>TORQUE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="product-item">
                            <div class="product-icon">
                                <img src="~/Content/bm3/images/icon-detalle/garantia64px.png" />
                            </div>
                            <div class="product-value">
                                <span>@(Model.ProductoCaracteristica.destacados.Garantia == null ? "-" : Model.ProductoCaracteristica.destacados.Garantia)</span>
                            </div>
                            <div class="product-feature">
                                <span>GARANT&Iacute;A</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="flat-product-content">
        <div class="container">
            <div id="parentHorizontalTab">


                <ul class="resp-tabs-list hor_1">
                    <li class="active">
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/ajuste24px.png" /></span>
                        <span class="bar-title">Caracter&iacute;sticas T&eacute;cnicas</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/engine24px.png" /></span>
                        <span class="bar-title">Motor y sistema el&eacute;ctrico</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/brake24px.png" /></span>
                        <span class="bar-title">Frenos</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/wheel24px.png" /></span>
                        <span class="bar-title">Aros y Llantas</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/suspension24px.png" /></span>
                        <span class="bar-title">Suspensi&oacute;n</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/transmision-manual24px.png" /></span>
                        <span class="bar-title">Transmisi&oacute;n</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/icon-fuel24px.png" /></span>
                        <span class="bar-title">Consumo</span>
                    </li>
                    <li>
                        <span class="bar-icon"><img src="~/Content/bm3/images/icon-detalle/dimension24px.png" /></span>
                        <span class="bar-title">Dimensiones</span>
                    </li>
                </ul>
                <div class="resp-tabs-container hor_1">
                    <div>

                        <div class="tecnical-specs" style="text-align:justify;">

                            @Html.Raw(@Model.Description)

                        </div>

                    </div>
                    <div>
                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>CILINDRADA</td>
                                        <td>@(Model.ProductoCaracteristica.motor.Cilindrada == null ? "-" : Model.ProductoCaracteristica.motor.Cilindrada)</td>
                                    </tr>
                                    <tr>
                                        <td>POTENCIA</td>
                                        <td>@Model.ProductoCaracteristica.motor.Potencia</td>
                                    </tr>
                                    <tr>
                                        <td>TIPO MOTOR</td>
                                        <td>@Model.ProductoCaracteristica.motor.TipoMotor</td>
                                    </tr>
                                    <tr>
                                        <td>TORQUE</td>
                                        <td>@Model.ProductoCaracteristica.motor.Torque</td>
                                    </tr>
                                    <tr>
                                        <td>SISTEMA DE ENCENDIDO</td>
                                        <td>@Model.ProductoCaracteristica.motor.SistemaEncendido</td>
                                    </tr>
                                    <tr>
                                        <td>SISTEMA DE ARRANQUE</td>
                                        <td>@Model.ProductoCaracteristica.motor.SistemaArranque</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>TIPO DE FRENO DELANTERO</td>
                                        <td>@Model.ProductoCaracteristica.frenos.FrenoDelantero</td>
                                    </tr>
                                    <tr>
                                        <td>TIPO DE FRENO POSTERIOR</td>
                                        <td>@Model.ProductoCaracteristica.frenos.FrenoTrasero</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div>

                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>NEUM&Aacute;TICOS DELANTEROS</td>
                                        <td>@Model.ProductoCaracteristica.arollanta.NeumaticoDelantero</td>
                                    </tr>
                                    <tr>
                                        <td>NEUM&Aacute;TICOS POSTERIOR</td>
                                        <td>@Model.ProductoCaracteristica.arollanta.NeumaticoPosterior</td>
                                    </tr>
                                    <tr>
                                        <td>ARO DELANTERO</td>
                                        <td>@Model.ProductoCaracteristica.arollanta.AroDelantero</td>
                                    </tr>
                                    <tr>
                                        <td>NEUM&Aacute;TICOS POSTERIOR</td>
                                        <td>@Model.ProductoCaracteristica.arollanta.AroPosterior</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div>

                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>SUSPENSI&Oacute;N DELANTEROS</td>
                                        <td>@Model.ProductoCaracteristica.suspension.SuspensionDelantera</td>
                                    </tr>
                                    <tr>
                                        <td>SUSPENSI&Oacute;N POSTERIOR</td>
                                        <td>@Model.ProductoCaracteristica.suspension.SuspensionPosterior</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>

                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>TRANSMISI&Oacute;N</td>
                                        <td>@Model.ProductoCaracteristica.transmisiones.Transmision</td>
                                    </tr>
                                    <tr>
                                        <td>NRO CAMBIOS</td>
                                        <td>@Model.ProductoCaracteristica.transmisiones.NroCambios</td>
                                    </tr>
                                    <tr>
                                        <td>VELOCIDAD M&Aacute;XIMA</td>
                                        <td>@Model.ProductoCaracteristica.transmisiones.VelocidadMaxima</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div>

                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>OCTANAJE</td>
                                        <td>@Model.ProductoCaracteristica.consumo.Octanaje</td>
                                    </tr>
                                    <tr>
                                        <td>SISTEMA COMBUSTIBLE</td>
                                        <td>@Model.ProductoCaracteristica.consumo.SistemaCombustible</td>
                                    </tr>
                                    <tr>
                                        <td>CAPACIDAD TANQUE</td>
                                        <td>@Model.ProductoCaracteristica.consumo.CapacidadTanque</td>
                                    </tr>
                                    <tr>
                                        <td>AUTONOM&Iacute;A</td>
                                        <td>@Model.ProductoCaracteristica.consumo.Autonomia</td>
                                    </tr>
                                    <tr>
                                        <td>RENDIMIENTO GAL&Oacute;N</td>
                                        <td>@Model.ProductoCaracteristica.consumo.RendimientoGalon</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div>

                        <div class="tecnical-specs cssTamanio">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>PESO NETO</td>
                                        <td>@Model.ProductoCaracteristica.dimensiones.Peso</td>
                                    </tr>
                                    <tr>
                                        <td>CARGA UTIL</td>
                                        <td>@Model.ProductoCaracteristica.dimensiones.CargaUtil</td>
                                    </tr>
                                    <tr>
                                        <td>PASAJEROS</td>
                                        <td>@Model.ProductoCaracteristica.dimensiones.Pasajeros</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-product-gallery">
        <div class="container">
            <h3>Galer&iacute;a</h3>
        </div>
        <div class="container-full">
            <div class="slider product-gallery">

                @foreach (var picture in Model.ProductPicturesList)
                {
                    <div>
                        <div class="image">
                            <a href='@Html.PictureSource(picture.Picture.URL)' target="_blank" class="thumbnail">
                                <img src='@Html.PictureSource(picture.Picture.URL)' data-id="@picture.PictureID" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="flat-banner-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-box">
                        <div class="inner-box">
                            @*<a href="@Url.Action("FinanciamientoEfectiva", "Financiamiento")" title="Financiamiento Efectiva">*@
                            <a href="#" title="Financiamiento Efectiva">
                                <img src="~/Content/bm3/images/banner/efectiva-v2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-box">
                        <div class="inner-box">
                            @*<a href="@Url.FinanciamientoSantander()" title="Financiamiento Santander">*@
                            <a href="#" title="Financiamiento Santander">
                                <img src="~/Content/bm3/images/banner/santander-v2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-brand-detail">
        <div class="container-full">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="brand-detail">
                            <h3>Sobre la marca</h3>
                            <div class="row">
                                @if (Model.MarcaID > 0)
                                {

                                    var marca = Model.Marcas.FirstOrDefault(x => x.ID == Model.MarcaID);

                                    if (marca != null)
                                    {
                                        <div class="col-md-3">
                                            <div class="brand-img">
                                                <img src='@Html.PictureSource(marca.Picture.URL)' data-id="@marca.PictureID" />
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="brand-desc">
                                                <h4 style="text-align: justify; font-family: 'Open Sans', sans-serif;"> @marca.Resumen</h4>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span>
                                        -
                                    </span>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    Html.RenderAction("RelatedProducts", "Products", new { categoryID = Model.CategoryID, ProductID = Model.ProductID, recordSize = RecordSizeEnums.Size6 });


}
<script>
     $("#productPictures").change(function () {
		var pictures = this.files;
		var picsData = new FormData();
		for (var i = 0; i < pictures.length; i++) {
			picsData.append("Picture", pictures[i]);
		}
        addLoader("pics-container");
		$.ajax({
			url: "@Url.UploadPictures()",
			type: "post",
			data: picsData,
			dateType: "json",
			processData: false,
			contentType: false
		})
		.done(function (responses) {
			for (var i = 0; i < responses.length; i++) {
				var picResponse = responses[i];
				AttachNewImage(picResponse.pictureURL, picResponse.ID);
			}
            removeLoader("pics-container");
		})
        .fail(function () {
             removeLoader("pics-container");
             Swal.fire("@("Dashboard.Message.Error".Localized())", "@("Dashboard.Message.GenericErrorMessage".Localized())", "error");
		});
    });
    function AttachNewImage(imageURL, imageID) {
        var $newimgHTML = $("#imageTemplate").clone();
        $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
        $newimgHTML.find(".image").attr("data-id", imageID);
        $newimgHTML.find("input[name=ThumbnailPicture]").val(imageID);
        $newimgHTML.find("input[name=ThumbnailPicture]").attr("id", "r"+ imageID);
        $newimgHTML.find(".imageInputLabel").attr("for", "r"+ imageID);
        $("#picturesArea").append($newimgHTML.html());
    }
</script>
