<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-8">
                <div class="widget-ft widget-about">
                    <div class="logo logo-ft">
                        <a href="#" title="">
                            <img src="~/Content/bm3/images/logo/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="widget-content">
                        <div class="info">
                            <p>Distribuidora de Motocicletas, Repuestos y Accesorios de las marcas HERO, KTM, LIFAN, PIAGGIO, ACERBIS, ALPINE STARS, MOTUL.</p>
                        </div>
                    </div>
                    <ul class="social-list">

                        @if (!string.IsNullOrEmpty(ConfigurationsHelper.FacebookURL))
                        {
                            <li>
                                <a href="@ConfigurationsHelper.FacebookURL" title="Facebook" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(ConfigurationsHelper.TwitterURL))
                        {
                            <li>
                                <a href="@ConfigurationsHelper.TwitterURL" title="Twitter" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>

                        }
                        @if (!string.IsNullOrEmpty(ConfigurationsHelper.InstagramURL))
                        {
                            <li>
                                <a href="@ConfigurationsHelper.InstagramURL" title="Instagram" target="_blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>

                        }
                        @if (!string.IsNullOrEmpty(ConfigurationsHelper.LinkedInURL))
                        {
                            <li>
                                <a href="@ConfigurationsHelper.LinkedInURL" title="LinkedIn" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="widget-ft widget-menu">
                    <div>
                        <h3 class="widget-title-bm3"><i class="fa fa-angle-right"></i> Cuenta</h3>
                    </div>
                    <ul>
                        <li>
                            <a href="#" title="">Mi Perfil</a>
                        </li>
                        <li>
                            <a href="#" title="">Carrito</a>
                        </li>
                        <li>
                            <a href="#" title="">Catálogo</a>
                        </li>
                        <li>
                            <a href="#" title="">Ofertas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-8">
                <div class="widget-ft widget-menu">
                    <div class="">
                        <h3 class="widget-title-bm3"><i class="fa fa-angle-right"></i> Contactos</h3>
                    </div>
                    <ul>
                        <li class="dir">
                            <span><a href="https://goo.gl/maps/ntrea5NZ7DGTbkww7" target="_blank" style="text-decoration: underline">Av. Manuel Vera Enriquez 571, Trujillo</a></span>
                        </li>
                        <li class="mail">
                            <span><a href="mailto:gerencia@bm3motos.com" target="_blank" style="text-decoration: underline">gerencia@bm3motos.com</a></span>
                        </li>
                        <li class="tel">
                            <span>Ventas: <a href="tel:+51999000000">947 909 276</a></span>
                        </li>
                        <li class="tel">
                            <span>Accesorios: <a href="tel:+51999000000">947 909 276</a></span>
                        </li>
                        <li class="tel">
                            <span>Repuestos: <a href="tel:+51999000000">947 909 276</a></span>
                        </li>
                        <li class="tel">
                            <span>Servicios: <a href="tel:+51999000000">945 620 600</a></span>
                        </li>
                        <li class="cal">
                            <span>Horario de atención: 8AM-6PM</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-4">
                <div class="widget-ft widget-info-ft">
                    <div class="widget-title-bm3">
                        <h3 class="widget-title-bm3"><i class="fa fa-angle-right"></i> Información</h3>
                    </div>
                    <ul class="cat-list-ft">
                        <li>
                            <a href="#" title="">Nosotros</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contacto", "Contacto")" title="">Contacto</a>
                        </li>
                        <li>
                            <a href="#" title="">Términos y Condiciones</a>
                        </li>
                        <li>
                            <a href="#" title="">Libro de Reclamaciones</a>
                        </li>
                        <li>
                            <a href="#" title="">Devoluciones</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

<section class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">Todos los derechos reservados © BM3 2022</p>
                <p class="btn-scroll">
                    <a href="#" title="">
                        <img src="~/Content/bm3/images/icono/top.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
