<footer class="footer-section pp-widgets">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-left">
                    @* TODO: We should be able to localize the application name along with Logo and Address *@
                    <div class="footer-logo">
                        <a href="@Url.Home()">
                            <h5>
                                @ConfigurationsHelper.ApplicationName
                            </h5>
                        </a>
                    </div>
                    <p>
                        @ConfigurationsHelper.ApplicationIntro
                        <br />
                        <address class="small text-muted">
                            @Html.Raw(string.Format("{0}<br/>{1}", ConfigurationsHelper.AddressLine1, ConfigurationsHelper.AddressLine2))
                        </address>
                    </p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>@("PP.Footer.Information".Localized())</h5>
                    <ul>
                        <li><a href="@Url.StaticPage("AboutUs")">@("PP.Footer.Information.AboutUs".Localized())</a></li>
                        <li><a href="@Url.StaticPage("ContactUs")">@("PP.Footer.Information.ContactUs".Localized())</a></li>
                        <li><a href="@Url.StaticPage("PrivacyPolicy")">@("PP.Footer.Information.PrivacyPolicy".Localized())</a></li>
                        <li><a href="@Url.StaticPage("RefundPolicy")">@("PP.Footer.Information.RefundPolicy".Localized())</a></li>
                        <li><a href="@Url.StaticPage("TermsConditions")">@("PP.Footer.Information.TermsAndConditions".Localized())</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>@("PP.Footer.Account".Localized())</h5>
                    <ul>
                        <li><a href="@Url.UserProfile(tab: "")">@("PP.Footer.Account.MyProfile".Localized())</a></li>
                        <li><a href="@Url.UserProfile(tab: "orders")">@("PP.Footer.Account.MyOrders".Localized())</a></li>
                        <li><a href="@Url.OrderTrack()">@("PP.Footer.Account.TrackOrder".Localized())</a></li>
                        <li><a href="@Url.Cart()">@("PP.Footer.Account.MyCart".Localized())</a></li>
                        <li><a href="@Url.Checkout()">@("PP.Footer.Account.Checkout".Localized())</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                @Html.Partial("_NewsLetterWidget")
            </div>
        </div>
    </div>
    <div class="copyright-reserved" style="display:block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 copyrights-widget">
                    <div class="copyright-text">
                        <i title="Copyrights" class="fas fa-copyright dont-transform text-warning"></i>
                        @Html.Raw("PP.Footer.CopyrightsMessage".LocalizedString().Replace("{application}", "<a href='" + Url.Home() + "'>" + ConfigurationsHelper.ApplicationName + "</a>").Replace("{date}", DateTime.Now.Year.ToString()))
                        <br />
                    </div>
                    <div class="payment-pic text-white">
                        <img src="~/Content/images/site/ecommerce-payment-methods.png" />
                    </div>
                </div>
                <div class='col-lg-12 py-2 ft-widget'>
                    <small class='text-muted' dir='ltr'>
                        <span>
                            <i class='fas fa-laptop-code text-success' title='Software'></i> Powered by <a href='https://www.ecommercemvc.com/' target='_blank'>eCommerce MVC</a>.
                        </span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <span>
                            Template Designed by <a class='text-primary' href='https://colorlib.com' target='_blank' rel='nofollow'>Colorlib</a>.
                        </span>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>