@model eCommerce.Web.ViewModels.PageViewModel

@{
    var title = string.Format("{0} {1} {2}", "BM3 Motos | ", @Model.PageTitle , "Financiamientos");
}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>@title</title>
<meta name="description" content="@Model.PageDescription">
@*<meta name="description" content="BM3 Motos - Distribuidora de Motocicletas, Repuestos y Accesorios de las marcas HERO, KTM, LIFAN, PIAGGIO, ACERBIS, ALPINE STARS, MOTUL.">*@
<meta property="og:title" content="@title" />
<meta property="og:description" content="@Model.PageDescription" />
<meta property="og:url" content="@Model.PageURL.ToSiteURL()" />
<meta property="og:image" content="@Model.PageImageURL.ToSiteURL()" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ConfigurationsHelper.TwitterUsername" />
<meta name="twitter:creator" content="@ConfigurationsHelper.TwitterUsername" />

<link rel="shortcut icon" href="~/Content/bm3/favicon/favicon.png">

@foreach (var canonicalURL in Model.PageCanonicalURLs)
{
    <link rel="canonical" href="@canonicalURL" />
}

<meta name="robots" content="index, follow" />
