<form id="forgotPasswordForm" method="post">
    @Html.AntiForgeryToken()
    <div class="group-input">
        <label for="username">@("PP.ForgotPassword.Username".LocalizedString()) <span class="text-danger">*</span></label>
        <input class="form-control" name="Username" placeholder="@("PP.ForgotPassword.UsernamePlaceholder".LocalizedString())" onfocus="this.placeholder = ''" onblur="this.placeholder = '@("PP.ForgotPassword.UsernamePlaceholder".LocalizedString())'">
    </div>
    <div class="group-input errorsRow" style="display:none">
        <div class="alert alert-danger errorMessages mb-0" role="alert"></div>
    </div>
    <br />
    <button type="submit" id="forgotPasswordButton" class="btn btn-success">@("PP.ForgotPassword.RecoverAccount".LocalizedString())</button>
</form>

<script src="~/Content/lib/jquery-3.4.1/jquery.min.js"></script>
<script>
    var _usernameRequired = "@("PP.ForgotPassword.Validation.UsernameRequired".LocalizedString())";
    validateForgotPasswordForm();

     $("#forgotPasswordForm").submit(function (e) {
        submitForm();

        e.preventDefault();
    });


    function submitForm() {
        $(".errorsRow .errorMessages", "#forgotPasswordForm").html("");
        $(".errorsRow", "#forgotPasswordForm").hide(200);
        $(".errorsRow .errorMessages", "#forgotPasswordForm").hide();

        if ($("#forgotPasswordForm").valid()) {
            addLoader("forgot-password-container");

            $.ajax({
                url: "@Url.ForgotPassword()",
                type: "post",
                data: $("#forgotPasswordForm").serialize(),
            })
            .done(function (response) {
                removeLoader("forgot-password-container");
                if (response != null && response.Success) {
                    Swal.fire("@("PP.Message.Success".Localized())", "@("PP.ForgotPassword.PasswordResetEmailSuccess".Localized())", "success");
                }
                else {
                    $(".errorsRow .errorMessages", "#forgotPasswordForm").html(response.Messages);
                    $(".errorsRow", "#forgotPasswordForm").show(200);
                    $(".errorsRow .errorMessages", "#forgotPasswordForm").show();
                }
             })
             .fail(function(jqXHR, textStatus, errorThrown) {
                 removeLoader("forgot-password-container");

                 Swal.fire("@("PP.Message.Error".Localized())", "@("PP.Message.GenericErrorMessage".Localized())", "error");

                 console.log('jqXHR:' + jqXHR);
                 console.log('textStatus:' + textStatus);
                 console.log('errorThrown:' + errorThrown);
             });
        }
    }
</script>