@model eCommerce.Web.ViewModels.ResetPasswordViewModel

<form id="resetPasswordForm" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="UserID" value="@Model.UserId">
    <input type="hidden" name="Code" value="@Model.Code">
    <div class="group-input">
        <label for="Password">@("PP.ResetPassword.Password".LocalizedString()) <span class="text-danger">*</span></label>
        <input type="password" class="form-control" name="Password" placeholder="@("PP.ResetPassword.PasswordPlaceholder".LocalizedString())" onfocus="this.placeholder = ''" onblur="this.placeholder = '@("PP.ResetPassword.PasswordPlaceholder".LocalizedString())'" id="regPassword">
    </div>
    <div class="group-input">
        <label for="ConfirmPassword">@("PP.ResetPassword.ConfirmPassword".LocalizedString()) <span class="text-danger">*</span></label>
        <input type="password" class="form-control" name="ConfirmPassword" placeholder="@("PP.ResetPassword.ConfirmPasswordPlaceholder".LocalizedString())" onfocus="this.placeholder = ''" onblur="this.placeholder = '@("PP.ResetPassword.ConfirmPasswordPlaceholder".LocalizedString())'">
    </div>
    <div class="group-input errorsRow" style="display:none">
        <div class="alert alert-danger errorMessages mb-0" role="alert"></div>
    </div>
    <button type="submit" id="resetPasswordButton" class="site-btn login-btn">@("PP.ResetPassword.ResetPassword".LocalizedString())</button>
</form>

<script>
    var _passwordRequired = "@("PP.ResetPassword.Validation.PasswordRequired".LocalizedString())";
    var _confirmPasswordRequired = "@("PP.ResetPassword.Validation.ConfirmPasswordRequired".LocalizedString())";
    var _passwordNotMatch = "@("PP.ResetPassword.Validation.PasswordNotMatched".LocalizedString())";

    validateResetPasswordForm();

    $("#resetPasswordForm").submit(function (e) {
        submitForm();

        e.preventDefault();
    });


    function submitForm() {
        $(".errorsRow .errorMessages", "#resetPasswordForm").html("");
        $(".errorsRow", "#resetPasswordForm").hide(200);
        $(".errorsRow .errorMessages", "#resetPasswordForm").hide();

        if ($("#resetPasswordForm").valid()) {
            $(".floader", "#resetPasswordForm").show();
            $(".response-holder", "#resetPasswordForm").hide();

            $.ajax({
                url: "@Url.ResetPassword()",
                type: "post",
                data: $("#resetPasswordForm").serialize(),
            })
            .done(function (response) {
                if (response != null && response.Success) {
                    Swal.fire("Success!", response.Messages, "success").then((ok) => {
                        window.location.href = "@Url.Login()";
			        });
                }
                else {
                    $(".errorsRow .errorMessages", "#resetPasswordForm").html(response.Messages);
                    $(".errorsRow", "#resetPasswordForm").show(200);
                    $(".errorsRow .errorMessages", "#resetPasswordForm").show();
                    $(".floader", "#resetPasswordForm").hide();
                    $(".response-holder", "#resetPasswordForm").show();
                }
             })
             .fail(function(jqXHR, textStatus, errorThrown) {
                 $(".floader", "#resetPasswordForm").hide();
                 $(".response-holder", "#resetPasswordForm").show();
                 
                 Swal.fire("@("PP.Message.Error".Localized())", "@("PP.Message.GenericErrorMessage".Localized())", "error");

                 console.log('jqXHR:' + jqXHR);
                 console.log('textStatus:' + textStatus);
                 console.log('errorThrown:' + errorThrown);
             });
        }
    }
</script>