@using Microsoft.AspNet.Identity
@using eCommerce.Entities
@model eCommerce.Web.ViewModels.TrackOrderViewModel

@if (Model != null && Model.Order != null)
{
    if (Model.Order.IsGuestOrder || (User.Identity.IsAuthenticated && (Model.Order.CustomerID == User.Identity.GetUserId() || User.IsInRole("Administrator"))))
    {
        var i = 0;
        var showOrderPlaceMessage = ViewBag.ShowOrderPlaceMessage != null ? Convert.ToBoolean(ViewBag.ShowOrderPlaceMessage) : false;

        var orderStatus = Model.Order.OrderHistory.OrderByDescending(x => x.ModifiedOn).FirstOrDefault();

        if (showOrderPlaceMessage)
        {
            <div class="alert alert-success" role="alert">
                @("PP.Tracking.OrderPlacedSuccessMessage".LocalizedString())
            </div>
        }

        <div class="accordion" id="orderTrackingAccordion">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#orderStatus">
                        @("PP.Tracking.OrderStatus".LocalizedString())
                    </button>
                    <a class="btn btn-success float-right" href="@Url.PrintInvoice(Model.Order.ID)" target="_blank">
                        <i class="fas fa-print mr-1"></i> @("PP.Tracking.PrintInvoice".LocalizedString())
                    </a>
                </div>

                <div id="orderStatus" class="collapse show" data-parent="#orderTrackingAccordion">
                    <div class="card-body p-0">
                        <table class="table table-borderless table-hover text-center mb-0">
                            <tbody>
                                @if (orderStatus != null)
                                {
                                    <tr>
                                        <td style="width:50%;">
                                            @("PP.Tracking.OrderStatus".LocalizedString()):
                                        </td>
                                        <td style="width:50%;">
                                            <h4 class="m-0">
                                                <span class="badge badge-secondary @Html.getCellBackgroundClassByOrderStatus((OrderStatus)orderStatus.OrderStatus)">
                                                    @(string.Format("PP.Tracking.OrderStatus." + ((OrderStatus)orderStatus.OrderStatus).ToString()).LocalizedString())
                                                </span>
                                            </h4>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width:50%;">
                                        @("PP.Tracking.PaymentMethod".LocalizedString()):
                                    </td>
                                    <td style="width:50%;">
                                        @(string.Format("PP.Tracking.PaymentMethods." + ((PaymentMethods)Model.Order.PaymentMethod).ToString()).LocalizedString())

                                        @if(!string.IsNullOrEmpty(Model.Order.TransactionID))
                                        {
                                            <br />
                                            <span title="@("PP.Tracking.TransactionID".LocalizedString())">
                                                @Model.Order.TransactionID
                                            </span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%;">
                                        @("PP.Tracking.Date".LocalizedString()):
                                    </td>
                                    <td class="ltr-dir" style="width:50%;">
                                        @Model.Order.PlacedOn
                                    </td>
                                </tr>
                                @if (orderStatus != null && !(orderStatus.ModifiedOn.Equals(Model.Order.PlacedOn)))
                                {
                                    <tr>
                                        <td style="width:50%;">
                                            @("PP.Tracking.UpdatedOn".LocalizedString()):
                                        </td>
                                        <td style="width:50%;">
                                            @(orderStatus.ModifiedOn)
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width:50%;">
                                        @("PP.Tracking.OrderID".LocalizedString()):
                                    </td>
                                    <td style="width:50%;">
                                        @(Model.Order.ID)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%;">
                                        @("PP.Tracking.OrderUniqueCode".LocalizedString()):
                                    </td>
                                    <td style="width:50%;">
                                        @Model.Order.OrderCode
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#orderDetails">
                            @("PP.Tracking.OrderDetails".LocalizedString())
                        </button>
                    </h2>
                </div>
                <div id="orderDetails" class="collapse" data-parent="#orderTrackingAccordion">
                    <div class="card-body p-0">
                        <table class="table table-hover m-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">@("PP.Tracking.Item".LocalizedString())</th>
                                    <th scope="col">@("PP.Tracking.Price".LocalizedString())</th>
                                    <th scope="col">@("PP.Tracking.Quantity".LocalizedString())</th>
                                    <th scope="col">@("PP.Tracking.Total".LocalizedString())</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orderItem in Model.Order.OrderItems)
                                {
                                    var currentLanguageProductRecord = orderItem.Product.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                                    i++;

                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>
                                            <a class="text-primary" href="@Url.ProductDetails(orderItem.Product.Category.SanitizedName, orderItem.ProductID)" target="_blank">
                                                @(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                            </a>
                                        </td>
                                        <td class="ltr-dir">
                                            @orderItem.ItemPrice.WithCurrency()
                                        </td>
                                        <td>
                                            @orderItem.Quantity
                                        </td>
                                        <td class="ltr-dir">
                                            @((orderItem.ItemPrice * orderItem.Quantity).WithCurrency())
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        <strong>@("PP.Tracking.SubTotal".LocalizedString())</strong>
                                    </td>
                                    <td colspan="2" class="ltr-dir">
                                        @Model.Order.TotalAmmount.WithCurrency()
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        <strong>@("PP.Tracking.Discount".LocalizedString())</strong>
                                    </td>
                                    <td colspan="2" class="ltr-dir">
                                        @Model.Order.Discount.WithCurrency()
                                        @if (Model.Order.Promo != null)
                                        {
                                            <div class="alert alert-success mb-0 mt-1" role="alert" dir="@(AppDataHelper.IsRTL ? "rtl" : "ltr")">
                                                @("PP.Tracking.PromoApplied".LocalizedString().Replace("{promocode}", Model.Order.Promo.Code))
                                            </div>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        <strong>@("PP.Tracking.ShippingCharges".LocalizedString())</strong>
                                    </td>
                                    <td colspan="2" class="ltr-dir">
                                        @Model.Order.DeliveryCharges.WithCurrency()
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        <strong>@("PP.Tracking.FinalTotal".LocalizedString())</strong>
                                    </td>
                                    <td colspan="2" class="ltr-dir">
                                        @Model.Order.FinalAmmount.WithCurrency()
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#customerDetails">
                            @("PP.Tracking.ContactDetails".LocalizedString())
                        </button>
                    </h2>
                </div>
                <div id="customerDetails" class="collapse" data-parent="#orderTrackingAccordion">
                    <div class="card-body">
                        @if (Model.Order.IsGuestOrder)
                        {
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label text-left">
                                    <span class="badge badge-success">@("PP.Tracking.GuestOrder".LocalizedString())</span>
                                </label>
                            </div>
                        }
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.CustomerName".LocalizedString())</label>
                            <div class="col-sm-10">
                                <input name="FullName" type="text" class="form-control disabled" value="@Model.Order.CustomerName" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.CustomerEmail".LocalizedString())</label>
                            <div class="col-sm-10">
                                <input name="Email" type="email" class="form-control disabled" value="@Model.Order.CustomerEmail.HideEmail()" disabled>
                            </div>
                        </div>
                        @if (!Model.Order.IsGuestOrder)
                        {
                            <div class="form-group row mb-0">
                                <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.CustomerPhone".LocalizedString())</label>
                                <div class="col-sm-10">
                                    <input name="PhoneNumber" type="text" class="form-control disabled" value="@Model.Order.CustomerPhone" disabled>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#shippingDetails">
                            @("PP.Tracking.ShippingDetails".LocalizedString())
                        </button>
                    </h2>
                </div>
                <div id="shippingDetails" class="collapse" data-parent="#orderTrackingAccordion">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.ShippingCountry".LocalizedString())</label>
                            <div class="col-sm-10">
                                <input name="Country" type="text" value="@Model.Order.CustomerCountry" class="form-control disabled" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.ShippingCity".LocalizedString())</label>
                            <div class="col-sm-10">
                                <input name="City" type="text" value="@Model.Order.CustomerCity" class="form-control disabled" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.ShippingAddress".LocalizedString())</label>
                            <div class="col-sm-10">
                                <textarea name="Address" class="form-control disabled" disabled>@Model.Order.CustomerAddress</textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-sm-2 col-form-label text-right">@("PP.Tracking.ShippingZipCode".LocalizedString())</label>
                            <div class="col-sm-10">
                                <input name="ZipCode" type="text" value="@Model.Order.CustomerZipCode" class="form-control disabled" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.Order.OrderHistory != null && Model.Order.OrderHistory.Count > 1)
            {
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#orderHistory">
                                @("PP.Tracking.OrderHistory".LocalizedString())
                            </button>
                        </h2>
                    </div>
                    <div id="orderHistory" class="collapse" data-parent="#orderTrackingAccordion">
                        <div class="card-body">
                            @foreach (var historyItem in Model.Order.OrderHistory.OrderByDescending(x => x.ModifiedOn))
                            {
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        <span class="badge badge-secondary @Html.getCellBackgroundClassByOrderStatus((OrderStatus)historyItem.OrderStatus)">
                                            @(string.Format("PP.Tracking.OrderStatus." + ((OrderStatus)historyItem.OrderStatus).ToString()).LocalizedString())
                                        </span>
                                        - @historyItem.Note
                                    </p>
                                    <footer class="blockquote-footer">@historyItem.ModifiedOn</footer>
                                </blockquote>

                                <hr />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @("PP.Tracking.OrderTrackingNotAccessible".LocalizedString())
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        @("PP.Tracking.OrderCantBeTracked".LocalizedString())
    </div>
}