<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="menuSidebar">
    <li class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Dashboard()">
        <div class="sidebar-brand-icon">
            <i class="fas fa-store"></i>
        </div>
        <div class="sidebar-brand-text mx-2">
            @ConfigurationsHelper.ApplicationName.IfNullOrEmptyShowAlternative("Site")
        </div>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Home()">
            <i class="mr-1 fas fa-home"></i>
            <span>@("Dashboard.Menu.Home".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Dashboard", "Index")">
        <a class="nav-link" href="@Url.Dashboard()">
            <i class="fas fa-user-shield"></i>
            <span>@("Dashboard.Menu.Dashboard".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Categories")">
        <a class="nav-link" href="@Url.ListAction("Categories")">
            <i class="mr-1 fas fa-sitemap"></i>
            <span>@("Dashboard.Menu.Categories".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Products")">
        <a class="nav-link" href="@Url.ListAction("Products")">
            <i class="fas fa-cubes mr-1"></i>
            <span>@("Dashboard.Menu.Products".Localized())</span>
        </a>
    </li>
    @*<li class="nav-item @Html.MenuItemClass("Promos")">
            <a class="nav-link" href="@Url.ListAction("Promos")">
                <i class="fas fa-tags mr-1"></i>
                <span>@("Dashboard.Menu.Promos".Localized())</span>
            </a>
        </li>*@

    <li class="nav-item @Html.MenuItemClass("Catalogo")">
        <a class="nav-link" href="@Url.ListAction("Catalogo")">
            <i class="fas fa-tags mr-1"></i>
            <span>Catalogo</span>
        </a>
    </li>

    <li class="nav-item @Html.MenuItemClass("Marca")">
        <a class="nav-link" href="@Url.ListAction("Marca")">
            <i class="fas fa-tags mr-1"></i>
            <span>Marcas</span>
        </a>
    </li>

    <li class="nav-item @Html.MenuItemClass("Color")">
        <a class="nav-link" href="@Url.ListAction("Color")">
            <i class="fas fa-tags mr-1"></i>
            <span>@("Dashboard.Menu.Color".Localized())</span>
        </a>
    </li>

    <li class="nav-item @Html.MenuItemClass("Talla")">
        <a class="nav-link" href="@Url.ListAction("Talla")">
            <i class="fas fa-tags mr-1"></i>
            <span>@("Dashboard.Menu.Talla".Localized())</span>
        </a>
    </li>

    <li class="nav-item @Html.MenuItemClass("Medida")">
        <a class="nav-link" href="@Url.ListAction("Medida")">
            <i class="fas fa-tags mr-1"></i>
            <span>@("Dashboard.Menu.Medida".Localized())</span>
        </a>
    </li>

    <li class="nav-item @Html.MenuItemClass("Modelo")">
        <a class="nav-link" href="@Url.ListAction("Modelo")">
            <i class="fas fa-tags mr-1"></i>
            <span>@("Dashboard.Menu.Modelo".Localized())</span>
        </a>
    </li>

    <li class="nav-item @Html.MenuItemClass("Orders")">
        <a class="nav-link" href="@Url.ListAction("Orders")">
            <i class="fas fa-funnel-dollar mr-1"></i>
            <span>@("Dashboard.Menu.Orders".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Comments")">
        <a class="nav-link" href="@Url.ListAction("Comments")">
            <i class="mr-1 fas fa-comments"></i>
            <span>@("Dashboard.Menu.Comments".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Users")">
        <a class="nav-link" href="@Url.ListAction("Users")">
            <i class="mr-1 fas fa-users"></i>
            <span>@("Dashboard.Menu.Users".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Roles")">
        <a class="nav-link" href="@Url.ListAction("Roles")">
            <i class="mr-1 fas fa-users-cog"></i>
            <span>@("Dashboard.Menu.Roles".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Dashboard", "NewsletterSubscribers")">
        <a class="nav-link" href="@Url.NewsletterSubscribers()">
            <i class="mr-1 fas fa-newspaper"></i>
            <span>@("Dashboard.Menu.NewsletterSubscribers".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Languages")">
        <a class="nav-link" href="@Url.ListAction("Languages")">
            <i class="fas fa-language"></i>
            <span>@("Dashboard.Menu.Languages".Localized())</span>
        </a>
    </li>
    <li class="nav-item @Html.MenuItemClass("Configurations")">
        <a class="nav-link" href="@Url.ListAction("Configurations")">
            <i class="mr-1 fas fa-cogs"></i>
            <span>@("Dashboard.Menu.Configurations".Localized())</span>
        </a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>