@model eCommerce.Web.Areas.Dashboard.ViewModels.FinanciamientosListingViewModels

@{
    if (Model != null)
    {
        Model.PageTitle = "Financiamiento";
        Model.PageDescription = "Lista de Financiamientos";
        Model.PageURL = Url.ListAction("Financiamiento");
        Model.PageImageURL = PictureHelper.PageImageURL("color.jpg");
    }
}

<div class="row">
    <div class="col-md-8">
        <h3 class="h3 mb-2 text-gray-800">
            @Model.PageTitle
        </h3>
        <p>
            @Model.PageDescription
        </p>
    </div>
    <div class="col-md-4" style="text-align: right">
        <a class="btn btn-primary" href="@Url.Action("DownloadExcel","Financiamiento")">Exportar Excel</a>
    </div>       
    <hr />
</div>

<div class="page-data-holder card shadow mb-4">
    <div class="card-header">
        <form action="@Url.ListAction("Financiamiento")">
            <div class="input-group">
                <input name="searchterm" type="text" value="@Model.SearchTerm" class="form-control" placeholder="Buscar Financimiento">
                <button type="submit" class="form-control btn btn-primary"><i class="fas fa-search"></i> @("Dashboard.Color.Search".Localized())</button>
                <a href="@Url.ListAction("Financiamiento")" role="button" class="form-control btn btn-primary"><i class="fas fa-redo-alt"></i> @("Dashboard.Color.Reset".Localized())</a>
            </div>
        </form>
    </div>
    <div class="card-body p-0" id="list-holder">
        @{Html.RenderPartial("_Listing", Model);}
    </div>
</div>
