@model eCommerce.Web.ViewModels.HomeSlidersViewModel

@if (Model != null && Model.SlidersConfigurations != null && Model.SlidersConfigurations.Count > 0)
{   
    var j = 0;

    <section class="flat-row flat-slider style4">
        <div class="container-full">
            <div class="row">
                <div class="col-md-12">

                    <div class="slider owl-carousel-banner">
                        @foreach (var configuration in Model.SlidersConfigurations)
                        {
                            @* TODO: Localizing Slider *@

                            var img = configuration.Value.GetSubstringText("#IMG#", "#TH#");
                            var imgMovil = "site/sliders/aprilia-tuono-46g-1.jpg";
                            var topHeading = configuration.Value.GetSubstringText("#TH#", "#PG#");
                            var paragraph = configuration.Value.GetSubstringText("#PG#", "#LK#");
                            var link = configuration.Value.GetSubstringText("#LK#", "");

                            if (!string.IsNullOrEmpty(img))
                            {
                                img = img.Replace("IMG#", "");
                                imgMovil = imgMovil.Replace("IMG#", "");
                            }
                            if (!string.IsNullOrEmpty(topHeading))
                            {
                                topHeading = topHeading.Replace("TH#", "");
                            }
                            if (!string.IsNullOrEmpty(paragraph))
                            {
                                paragraph = paragraph.Replace("PG#", "");
                            }
                            if (!string.IsNullOrEmpty(link))
                            {
                                link = link.Replace("LK#", "");
                            }
                        <div class="slider-item style8">
                            <div class="item-image-slider-web @(j == 0 ? "active" : string.Empty)" data-target="#carouselIndicators">
                                @Html.Picture(img, classes: "img-fluid", alt: "Slider")
                            </div>
                            <div class="item-image-movil @(j == 0 ? "active" : string.Empty)" data-target="#carouselIndicators">
                                @Html.Picture(imgMovil, alt: "Slider")
                            </div>
                            <div class="clearfix"></div>
                        </div>                           
                            j++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_VistaMarcaBm3")
}