@using eCommerce.Entities
@using eCommerce.Shared.Enums
@model eCommerce.Web.ViewModels.ProductsViewModel

@{
    CategoryRecord currentLanguageCategoryRecord = null;

    var haveParentCategory = false;

    if (Model != null)
    {
        if (Model.SelectedCategory != null)
        {
            currentLanguageCategoryRecord = Model.SelectedCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

            Model.PageTitle = "PP.Search.TitleWithCategory".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : Model.SelectedCategory.SanitizedName).Replace("{application}", ConfigurationsHelper.ApplicationName);
            Model.PageDescription = currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Summary : string.Empty;
            Model.PageURL = Url.SearchProducts(category: Model.SelectedCategory.SanitizedName, q: Model.SearchTerm);


            haveParentCategory = Model.SelectedCategory.ParentCategory != null;
        }
        else
        {
            Model.PageTitle = "PP.Search.Title".LocalizedString().Replace("{application}", ConfigurationsHelper.ApplicationName);
            Model.PageDescription = "PP.Search.Description".LocalizedString();
            Model.PageURL = Url.SearchProducts(q: Model.SearchTerm);
        }

        Model.PageImageURL = PictureHelper.PageImageURL("search.jpg");
    }

    ViewBag.SearchTerm = Model.SearchTerm;

}

<input id="searchURL" type="hidden" value="@Url.SearchProducts(category: !string.IsNullOrEmpty(Model.CategoryName) ? Model.CategoryName : string.Empty, q: Model.SearchTerm)" />

@*<div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="@Url.Home()">
                            <i class="fas fa-home mr-1"></i>
                            @("PP.Header.Menu.Home".Localized())
                        </a>
                        @if (currentLanguageCategoryRecord != null)
                        {
                            <a href="@Url.SearchProducts()">@("PP.Search.SearchProducts".Localized())</a>
                            if (haveParentCategory)
                            {
                                var currentLanguageParentCategoryRecord = Model.SelectedCategory.ParentCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                                <a href="@Url.SearchProducts(category: Model.SelectedCategory.ParentCategory.SanitizedName)">@(currentLanguageParentCategoryRecord != null ? currentLanguageParentCategoryRecord.Name : string.Empty)</a>
                            }
                            <span>@(currentLanguageCategoryRecord.Name)</span>
                        }
                        else
                        {
                            <span>@("PP.Search.SearchProducts".Localized())</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<section class="flat-row flat-slider style4">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <div class="slider">
                    <div class="slider-item style8">
                        <div class="item-image">
                            <img src="~/Content/bm3/images/catalogo/catalogo_moto.jpg" alt="" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main id="shop">
    <div class="container">
        <div class="row">
            @* Filtros *@
            <div class="col-lg-3 col-md-4">
                <div class="sidebar ">
                    <div class="widget widget-categories">
                        <div class="widget-title">
                            <h3>Categorías<span></span></h3>
                        </div>

                        @*@{
                Html.RenderPartial("SearchFilters/_SearchInputFilter", Model);
            }*@

                        @{
                            Html.RenderPartial("Catalogo/MotoFilters/_CategoriesFilter", Model);
                        }


                    </div>
                    <div class="widget widget-price">
                        <div class="widget-title">
                            <h3>Rango de precios<span></span></h3>
                        </div>
                        <div class="widget-content">
                            <p>Precio</p>
                            <div class="price search-filter-input">
                                <div id="slider-range" class="price-slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <p class="amount">
                                    <input type="text" id="amount" disabled="">
                                </p>
                            </div>
                        </div>
                    </div>
                        @{
                            Html.RenderPartial("Catalogo/MotoFilters/_MarcasFilter", Model);
                        }

                        <div class="widget widget-button">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <a href="#" class="waves-effect">FILTRO</a>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a href="#" class="waves-effect">ACTUALIZAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            @*Catalogo de Productos*@
            <div class="col-lg-9 col-md-8">
                <div class="main-shop">
                    @{
                        Html.RenderPartial("Catalogo/MotoFilters/_SearchMoto", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</main>



<!--<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                @{
                    Html.RenderPartial("_SearchFilters", Model);
                }
            </div>
            <div class="col-lg-9 order-1 order-lg-2">-->
@*@{
        Html.RenderPartial("_Search", Model);
    }*@
<!--</div>
        </div>
    </div>
</section>-->
