@model List<eCommerce.Entities.Category>


<style>

    .single-banner .inner-text h4 {
        color: #252525;
        font-weight: 700;
        padding: 11px 28px;
        background: #ffffff;
        border-radius: 2px;
    }

    .single-banner .inner-text {
        position: absolute;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

    .inner-text .text-category-movil {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.8em;
        color: black;
    }

</style>

@if (Model != null && Model.Count > 0)
{
    <section class="flat-row flat-banner-box category-shortcut-web">
        <div class="container">
            <div class="row"> 
                    @foreach (var category in Model)
                    {
                        var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);
                        Picture pictureMovil = new Picture();
                        pictureMovil.URL = "categoria_movil.jpg";

                        <div class="col-md-4"> 
                            <div class="banner-box">
                                <div class="inner-box single-banner" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty))">
 
                                    <a class="inner-text" href="@Url.CatalogoMoto(category.ID)">
                                        @Html.Picture(picture: category.Picture, classes: "img-res-no", defaultPic: "site/default-bg.jpg", alt: currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                        @*@Html.Picture(picture: pictureMovil, classes: "img-res-si", defaultPic: "site/default-bg.jpg", alt: currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)*@
                                        <h4 class="text-category">
                                            @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                        </h4>
                                    </a>
                                </div> 
                            </div>
                        </div>
                    } 
            </div>
        </div>
    </section>
                    
    <section class="category-shortcut-movil">
        <div class="container">
            <div class="row">
                <div class="banner-box three-half">
                    @foreach (var category in Model)
                    {
                        var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);
                        Picture pictureMovil = new Picture();
                        pictureMovil.URL = "categoria_movil.jpg";

                        <div class="col-md-4"> 
                            @*<div class="banner-box">*@
                                <div class="inner-box single-banner" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty))">

                                    <a class="inner-text" href="@Url.SearchProducts(category: category.SanitizedName)">
                                        @Html.Picture(picture: category.Picture, defaultPic: "site/default-bg.jpg", alt: currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)                                        
                                        <h4 class="text-category-movil">
                                            @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                        </h4>
                                    </a>
                                </div>
                            @*</div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

}
