@model eCommerce.Web.ViewModels.ProductsByFeaturedCategoriesViewModel

@Html.Partial("_ProductByCategoriesBm3")

<style>
    #productlarge {
        height: 307px;
        text-align: center;
        /* padding-top: 285px; */
        background-color: #efefef;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: auto;
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
    }

    .productlarge2 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 18px;
        display: inline-block;
        position: relative;
    }

    .descubrir {
        background-color: white;
        padding: 5px;
    }
</style>

@if (Model != null && Model.Categories != null && Model.Categories.Count > 0)
{
    var reverse = false;
    Picture pictureMovil = new Picture();
    pictureMovil.URL = "categoria_movil.jpg";


    foreach (var featuredCategory in Model.Categories)
    {
        var currentLanguageCategoryRecord = featuredCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

        var products = featuredCategory.Products != null ? featuredCategory.Products.Where(x => !x.IsDeleted && x.IsActive).OrderByDescending(x => x.ModifiedOn).Take(8).ToList() : null;

        <section class="@(reverse ? "flat-imagebox style1 reverse-banner" : "flat-imagebox style1 forward-banner") spad">
            <div class="container">
                <div class="row">
                    @if (reverse)
                    {
                        <div class="col-md-12" id="category-movil">
                            <div class="inner-box">                                
                                <a href="@Url.SearchProducts(category:featuredCategory.SanitizedName)">
                                    <h2 style="color: #474B4E !important;">
                                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                    </h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @if (products != null && products.Count > 0)
                            {
                                Html.RenderPartial("_ProductCarouselSliderBm3", products);
                            }
                            else
                            {
                                <div class="alert alert-warning m-0" role="alert">
                                    @("PP.Search.ProductsNotFound".Localized())
                                </div>
                            }
                        </div>

                        <div class="col-md-3" id="category-web" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : null))">
                            <div id="productlarge" class="banner-box" data-setbg="@Html.PictureSource(picture: featuredCategory.Picture, defaultPic: "site/default-bg.jpg")" style="background-image: url(@Html.PictureSource(picture: featuredCategory.Picture, defaultPic: "site/default-bg.jpg"))">
                                <div class="inner-box">
                                    <h2 class="productlarge2">
                                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                    </h2>
                                    <a class="descubrir" href="@Url.SearchProducts(category:featuredCategory.SanitizedName)">@("PP.Home.FeaturedCategories.DiscoverMoreProducts".Localized())</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12" id="category-movil">
                            <div class="inner-box">
                                <a href="@Url.SearchProducts(category:featuredCategory.SanitizedName)">
                                    <h2  style="color: #474B4E !important;">
                                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                    </h2>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3" id="category-web" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty))">
                            <div id="productlarge" class="banner-box" data-setbg="@Html.PictureSource(picture: featuredCategory.Picture, defaultPic: "site/default-bg.jpg")" style="background-image: url(@Html.PictureSource(picture: featuredCategory.Picture, defaultPic: "site/default-bg.jpg"))">
                                <div class="inner-box">
                                    <h2 class="productlarge2">
                                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                    </h2>
                                    <a class="descubrir" href="@Url.SearchProducts(category:featuredCategory.SanitizedName)">@("PP.Home.FeaturedCategories.DiscoverMoreProducts".Localized())</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @if (products != null && products.Count > 0)
                            {
                                Html.RenderPartial("_ProductCarouselSliderBm3", products);
                            }
                            else
                            {
                                <div class="alert alert-warning m-0" role="alert">
                                    @("PP.Search.ProductsNotFound".Localized())
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </section>

        reverse = !reverse;
    }
}

@*<section class="flat-imagebox style1">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="images/banner/banner-4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="owl-carousel-product">
                        <div class="product-box">
                            <div class="imagebox style2">
                                <div class="box-image">
                                    <a href="#" title="">
                                        <img src="images/producto/producto-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="product-name">
                                        <a href="#" title="">
                                            <span>KTM</span>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">$1,250.00</span>
                                        <span class="regular">$2,999.00</span>
                                    </div>
                                </div>
                                <div class="box-top">
                                    <div class="box-link">
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="imagebox style2">
                                <div class="box-image">
                                    <a href="#" title="">
                                        <img src="images/producto/producto-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="product-name">
                                        <a href="#" title="">
                                            <span>KTM</span>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">$1,250.00</span>
                                        <span class="regular">$2,999.00</span>
                                    </div>
                                </div>
                                <div class="box-top">
                                    <div class="box-link">
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="imagebox style2">
                                <div class="box-image">
                                    <a href="#" title="">
                                        <img src="images/producto/producto-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="product-name">
                                        <a href="#" title="">
                                            <span>KTM</span>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">$1,250.00</span>
                                        <span class="regular">$2,999.00</span>
                                    </div>
                                </div>
                                <div class="box-top">
                                    <div class="box-link">
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="imagebox style2">
                                <div class="box-image">
                                    <a href="#" title="">
                                        <img src="images/producto/producto-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="product-name">
                                        <a href="#" title="">
                                            <span>KTM</span>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">$1,250.00</span>
                                        <span class="regular">$2,999.00</span>
                                    </div>
                                </div>
                                <div class="box-top">
                                    <div class="box-link">
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="imagebox style2">
                                <div class="box-image">
                                    <a href="#" title="">
                                        <img src="images/producto/producto-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="product-name">
                                        <a href="#" title="">
                                            <span>KTM</span>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">$1,250.00</span>
                                        <span class="regular">$2,999.00</span>
                                    </div>
                                </div>
                                <div class="box-top">
                                    <div class="box-link">
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-box">
                            <div class="imagebox style2">
                                <div class="box-image">
                                    <a href="#" title="">
                                        <img src="images/producto/producto-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="product-name">
                                        <a href="#" title="">
                                            <span>KTM</span>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <span class="sale">$1,250.00</span>
                                        <span class="regular">$2,999.00</span>
                                    </div>
                                </div>
                                <div class="box-top">
                                    <div class="box-link">
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="#" title="">
                                            <i class="ti-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

